.alinclub__RewardSlider {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdfe1;
    position: relative;
}

.alinclub__RewardSliderContainer {
    padding: 15px;
}

.alinclub__RewardSliderTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #dcdfe1;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 75px;
}  


.alinclub__RewardArrows {
    display: flex;
    align-items: center;
    i {
        display: inline-flex;
        margin-right: 20px;
        color:#004f9e
    }
}


.alinclub__voucher {
    display: flex;
    margin: 10px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-family: "Yekan-Bakh-Num";
  
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: -8px;
      right: 58px;
      border: 1px solid #dcdfe1;
    }
  
    &::after {
      content: "";
      width: 18px;
      height: 18px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      right: 58px;
      bottom: -8px;
      border: 1px solid #dcdfe1;
    }
}

.alinclub__voucherPoint {
    border: 1px solid #dcdfe1;
    border-left: 1px dashed #dcdfe1;
    border-radius: 8px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}



.alinclub__voucherDetail {
    width: 100%;
    padding: 12px 18px;
    border: 1px solid #dcdfe1;
    border-right: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.alinclub__voucherDetailTop {
    display: flex;
    justify-content: space-between;
}


.alinclub__progressBar {
    width: 55px;
    height: 55px;
}

.alinclub__voucerLogo {
    width: 55px;
}
  
.alinclub__voucherDetailDesc {
    font-size: 13px;
}
  