.alinclub__lotterySection {
    padding: 40px 0;
}

.alinclub__lotteryTitle {
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0;
}

.alinclub__lotteryParagraph {
    font-size: 24px;
    font-weight: 200;
    width: 85%;
}